html{
  background-color: black;
}
body{
    font-family: Verdana;

}


h1{

  font-weight: normal;
  font-size: 50px;
  color: white;
  position: center;
}
body a{
  color: aquamarine;
  font-size: 16px;
}
